<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="../../site_media/js/jquery.min.js"></script>
<script type="text/javascript" src="../../site_media/js/page.js"></script> 
<link href="../../site_media/css/css.css" type="text/css" rel="stylesheet" /> 
<title>无标题文档</title>
<style type="text/css">
body {background-color: #1F5183;margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;}
.p_con{width: 100%;height:840px; background: #3969A9;}
/*background: url(../../site_media/img/004.jpg);background-repeat: no-repeat;*/
.p_content{width: 100%;height: 840px;background-position: 0px 30px;}
.p_top{width: 520px;height: 65px;position: absolute;top: 110px;left: 60px; } 

.p_left{width: 100%;height: auto;float: left;margin-top: 6%;margin-left: 0%;}
.p_corp{float: left;background: url(../../site_media/img/b002.png);background-repeat: no-repeat;width: 50%;height: 63px;text-align: center;color:white;text-decoration: none;padding-top: 20px;font-weight: bold;font-size: 22px;}
.p_star{float: left;background: url(../../site_media/img/b001.png);background-repeat: no-repeat;width: 50%;height: 63px;text-align: center;color:white;text-decoration: none;padding-top: 20px;font-weight: bold;font-size: 22px;}

.p_right{width: 550px;height:auto;color: white;position: absolute;top:300px;left:58%;font-size: 15px;}
.line003{border-bottom: 1px solid #607495;border-right: 1px solid #607495;color: #539FDF;font-family: "微软雅黑","Arial Unicode MS";font-size: 16px;height: 50px;font-weight: bold;}
.line001 {border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;border-right-color: #607495;border-bottom-color: #607495;font-size: 14px;color: #FFF;}
.line002 {font-size: 14px;color: #FFF;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #607495;}
.f20px {font-family: "微软雅黑", "Arial Unicode MS";font-size: 20px;color: #FFF;font-weight: bold;}
.line005 {border-top-width: 1px;border-right-width: 1px;border-top-style: solid;border-right-style: solid;border-top-color: #62A1D6;border-right-color: #62A1D6;border-left-width: 1px;border-left-style: solid;border-left-color: #62A1D6;}
.p_bottom{width: 530px;height: 65px;position: absolute;top:220px;left: 60%;}
</style>

<script>
$(document).ready(function(){
	
	
	
	//鼠标放到a标签事件
// 	 $(".p_corp").hover(function(){
// 	        $(this).removeClass("p_corp");
// 	        $(this).addClass("p_star");
//         },function(){
//         	 $(this).removeClass("p_star");
//              $(this).addClass("p_corp");
//            });
	

});
</script>


</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="87" align="center" background="../../site_media/img/01.jpg"><img src="../../site_media/img/002.png" width="401" height="48" /></td>
  </tr>
  <tr>
    <td height="2" background="../../site_media/img/03.jpg"><img src="../../site_media/img/03.jpg" width="4" height="4" /></td>
  </tr>
</table>
<div class="p_con">
	<div class="p_content">
		<div class="p_top" id="p_top"><a href="javascript://" id="p_corp" class="p_corp" >自来水公司分布图</a><a href="javascript://" id="p_star" class="p_corp">上海行政区分布图</a></div>
	<div class="p_bottom">
		<a href="../report?stat=1" class="p_corp" >水质报表</a>
		<a href="../report?stat=2" class="p_corp" >水质趋势图</a>
	</div>
	<div class="p_left">
	</div>
		<div class="p_right">

</div>
</div>
</div>
</body>
</html>
