<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../site_media/css/css.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../../site_media/js/jquery.min.js"></script> 
<script type="text/javascript" src="../../site_media/js/page.js"></script> 
<title>水质检测</title>


</head>
<body>

	<div class="w_div">
		<div class="w_top"><h1>水质检测系统</h1><input type="button" name="logo" id="logo" value="登录" class="w_logo"/></div>
		<div class="w_content">
			<div class="w_contentLeft">
				<div class="w_conTop" id="">
				</div>
			</div>
			<div class="w_con1" id="w_con"></div>
			<div class="w_contentRight">
			<div class="w_a"><a href="report.html?stat=1">水质报表</a><a href="report.html?stat=2">水质趋势图</a></div>
				<div class="w_conTab">
				</div>	
			</div>
			<div class="w_conComm">
			<input type="button" name="company" id="company" value="自来水公司分布图"/>
			<input type="button" name="region" id="region" value="上海行政区分布图"/>
		</div>
		</div>
	</div>
</body>
</html>