<!DOCTYPE html>
<html>
<head>
<title>socket admin</title>
<script type="text/javascript" src="/site_media/js/jquery.min.js"></script>
</head>
<body>
	<input id="wifimodel" type="button" name="manipulate" value="wifi模式开启"></input>
	<input id="gsmmodel" type="button" name="manipulate" value="gsm模式开启"></input>
<script type="text/javascript">
    $("#wifimodel").click(function(){
        $.ajax({url:"{%url 'hardsocket:openWifiSocket'%}"});
    });
    $("#gsmmodel").click(function(){
        $.ajax({url:"{%url 'hardsocket:openGsmSocket'%}"});
    });
</script>
</body>